In [152]:
import numpy  as np
import pandas as pd
import datetime

from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import seaborn as sns

#import tensorflow as tf

#import keras

#import warnings
#warnings.filterwarnings('ignore')

#print('tensorflow version', tf.__version__); print('hello, {}'.format(tf.matmul(x, x)))

In [153]:
df = pd.read_csv("../../Labs/Datetasets /Gold_Price.csv")
df.head(3)

         Date     Price      Open      High       Low     Vol. Change %
0  12/30/2022  1,826.20  1,821.80  1,832.40  1,819.80  107.50K    0.01%
1  12/29/2022  1,826.00  1,812.30  1,827.30  1,811.20  105.99K    0.56%
2  12/28/2022  1,815.80  1,822.40  1,822.80  1,804.20  118.08K   -0.40%

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2583 entries, 0 to 2582
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2583 non-null   object
 1   Price     2583 non-null   object
 2   Open      2583 non-null   object
 3   High      2583 non-null   object
 4   Low       2583 non-null   object
 5   Vol.      2578 non-null   object
 6   Change %  2583 non-null   object
dtypes: object(7)
memory usage: 141.4+ KB

In [155]:
df.shape

(2583, 7)

### Data Preparation

In [156]:
# Convert date column to datetime objects
#df['date'] = pd.to_datetime(df['Date'])
# Convert datetime objects to Unix timestamps
#df['Date'] = df['date'].apply(lambda x: datetime.datetime.timestamp(x))

In [169]:
X = df.Date.values.reshape(-1,1)
## to see firs 3 rows 
X[:3,:]
y = df['Price'].values

#### Transforming Data 

      Date feature is stored as object inthe frame . to increase the speed , 
      we convert it's data type to datetime and sort this feature in ascending order:

In [170]:
df['Date'] = pd.to_datetime(df['Date'])
df.sort_values(by='Date',ascending=True, inplace=True)
df.reset_index(drop=True, inplace=True)

####   The "," sing is redundant in the dataset. First , we remove it from the entrie dataset and then change the datatype of the numerycal variables to float :

In [171]:
NumCols = df.columns.drop(['Date'])
df[NumCols] = df[NumCols].replace({',':''},regex = True)
#df[NumCols] = df[NumCols].astype('float64')

In [172]:
df.head()

        Date    Price     Open     High      Low   Vol. Change %
0 2013-01-02  1689.90  1675.80  1695.00  1672.10  0.06K    0.78%
1 2013-01-03  1675.60  1688.00  1689.30  1664.30  0.19K   -0.85%
2 2013-01-04  1649.90  1664.40  1664.40  1630.00  0.31K   -1.53%
3 2013-01-07  1647.20  1657.30  1663.80  1645.30  0.09K   -0.16%
4 2013-01-08  1663.20  1651.50  1662.60  1648.80  0.13K    0.97%

### Get and clean Data

### Split data into train and test

In [173]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,random_state=42)

In [174]:
print(X_train.shape)
print(y_train.shape)

(1730, 1)
(1730,)