In [80]:
import pandas as pd

In [78]:
df = pd.read_csv('https://raw.githubusercontent.com/ProgressBG-Python-Course/JupyterNotebooksExamples/master/datasets/various/drinks.csv')
df.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU

# Задача 2

In [79]:
df.shape

(193, 6)

#  Задача 3

In [77]:
mask= df['continent']== 'eu'
df[mask]
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

# Задача 4  *

In [106]:

mask = df ['country']=="Bulgaria"

bu=df[mask]
bu.iloc[0,1:4]

beer_servings      231
spirit_servings    252
wine_servings       94
Name: 25, dtype: object

In [19]:
df.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

# Задача 5

In [147]:
idx = df.wine_servings.idxmax()
idx
Country = df.loc[idx,'country']
liters = df.iloc [61, -3]

print(f'Mаксималното количество консумирано вино в целия дейтасет е {liters} литра, от държавата {Country}')

Mаксималното количество консумирано вино в целия дейтасет е 370 литра, от държавата France

# Задача 6

In [148]:
mask = df.continent == "SA"
df_SA = df[mask]
df_SA

idx =df_SA.wine_servings.idxmax()
Country = df.loc[idx,'country']
kol = df.iloc [6, -3]



print(f'Mаксималното количество консумирано вино в Южна Америка е {kol} литра, консумирани в {Country}')

Mаксималното количество консумирано вино в Южна Америка е 221 литра, консумирани в Argentina

# Задача7

In [157]:
idx = df.beer_servings.idxmax()
Country = df.loc [idx, 'country']

liters = df.iloc [117, 1]
continent = df.iloc[117, -1]

print(f'Държавата в която се консумира най-много бира  е {Country} - {liters} литра. Намира се в {continent}.')

Държавата в която се консумира най-много бира  е Namibia - 376 литра. Намира се в AF.

# Задача 8

In [178]:
witaut_beer = mask= df.beer_servings ==0

witaut_beer_df =df[mask]
witaut_beer_df.country

0           Afghanistan
13           Bangladesh
40         Cook Islands
46          North Korea
79                 Iran
90               Kuwait
97                Libya
103            Maldives
106    Marshall Islands
107          Mauritania
111              Monaco
128            Pakistan
147          San Marino
149        Saudi Arabia
158             Somalia
Name: country, dtype: object